.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
build
gen
log.txt

main/build
main/gen

.metadata
out/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/*
!.idea/inspectionProfiles
!.idea/inspectionProfiles/*

# files for the dex VM
*.dex

# Java class files
*.class

# Eclipse project files
.classpath
.project

captures/
BuglyUploadLog.txt

freeline.py
freeline_project_description.json
freeline/